body {
    background-color: lightblue;
    user-select: none;
}

#page-container {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.container {
    margin-top: 25px;
    height:100%
}

span {
    width: 2em;
}

.footer {
    position: absolute;
    width: 100%;
    height: 2.5rem;
    bottom: 0;
    background-color: #9e9e9e;
    color: rgb(0, 0, 0);
}

.button {
    display: inline-block;
    float: none;
    padding: 0.2vh;
    text-align: center;
    background-color: rgb(255, 238, 238);
    color: rgb(0, 0, 0);
    font-size: 0.85vw;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}
.button:hover {
    transition: 0.2s ease all;
    background-color: rgba(255, 238, 238, 0.61);
}

.credits {
    text-align: right;
    color: #ececec;
}
